<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDB | <%= title %></title>
        <!-- css link -->
    <link rel="stylesheet" href="style.css">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
    rel="stylesheet"
    />
</head>
<body>
  <%- include('./partials/loginnav.ejs')%>

  <div class="container d-flex justify-content-center" style="height: 80vh; align-items: center;">
    <form class="form" action="/validateSignup" method="post">
      <%var username,email,passone,passtwo,title;%>
            <% var value;%>
            <% if(value=='success') {%>
             <div class="my-3" style="color: rgb(11, 204, 11);">Signup success <i class="bi bi-check2" style="font-size: 20px;"></i></div>
           <% }%>
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="form3Example1" name="firstname" class="form-control" />
            <label class="form-label" for="form3Example1">First name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="form3Example2" name="lastname" class="form-control" />
            <label class="form-label" for="form3Example2">Last name</label>
          </div>
        </div>
      </div>
      <p class="valid"><%= username%></p>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form3Example3" name="email" class="form-control" />
        <label class="form-label" for="form3Example3">Email address</label>
      </div>
      <p class="valid"><%= email%></p>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form3Example4" name="passone" class="form-control" />
        <label class="form-label" for="form3Example4">Password</label>
      </div>
      <p class="valid"><%= passone%></p>

      <!-- Password input -->

      <div class="form-outline mb-4">
        <input type="password" id="form3Example4" name="passtwo" class="form-control" />
        <label class="form-label" for="form3Example4">Confirm password</label>
      </div>
       <p class="valid"><%= passtwo%></p>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
    
      <!-- Register buttons -->
      <div class="text-center">
        <p>or sign up with:</p>
        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>
    
        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>
    
        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>
    
        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>
  </div>

  <!-- footer -->
  <%- include('./partials/footer.ejs')%>

</body>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
></script>
</html>